body {
    background-image: url('../images/bg.png');
}

/*---------------Navigation----------------*/

nav {
    opacity: 0.5;
}

.nav-item {
    margin: 0 120px 0 0;
}

/*----------------Start Page----------------*/

.start-page {
    width: 100%;
    height: 100vh;
    background-image: url('../images/start-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

/*---------------Welcome Page---------------*/

.welcome-page-content {
    position: absolute;
    top: 20%;
    left: 5%;
}

.welcome-page-content h1 {
    font-size: 3em;
}

.welcome-page-content p {
    font-size: 1.5em;
}

.start-page-content {
    width: 100%;
}

/*-----------------Search---------------*/

.search {
    position: absolute;
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100%;
}

.search-col {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: flex-end;
}

.search-form-container {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.search-form-container input {
    display: inline-block;
    width: 300px;
    appearance: none;
    outline: 0;
    border: 1px solid fade(white, 40%);
    background-color: fade(white, 20%);
    height: inherit;
    border-radius: 3px;
    padding: 5px 5px;
    margin: -3px 10px -3px auto;
    text-align: center;
    font-size: 18px;
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
    opacity: 0.7;
    border-radius: 10px;
}

.search-form-container input:hover {
    opacity: 0.8;
}

.search-form-container input:focus {
    background-color: white;
    color: @prim;
    opacity: 1;
}

.box {
    margin-bottom: 20px;
    width: 1200px;
    height: 110px;
    background-color: antiquewhite;
    text-align: center;
}

.search-form {
    display: flex;
}

.search-button {
    height: 45px;
    width: 120px;
}

/*-----------------Popular Countries---------------*/

.popular-countries-col h2 {
    text-align: center;
    font-family: 'Underdog', cursive;
    font-weight: 700;
    font-size: 2.5em;
    color: aquamarine;
    margin-top: 1%;
}

.popular-countries-boxes {
    display: flex;
}


.popular-countries-boxes h3 {
    font-family: 'Underdog', cursive;
    font-weight: 700;
    font-size: 2em;
    color: #d39269;
}

.popular-countries-boxes p {
    font-family: 'Kelly Slab', cursive;
    font-size: 1.5em;
    ;
    color: #658aa4;
}

.box-1 {
    flex: 1;
    text-align: center;
    margin-right: 1%;
}

.box-2 {
    flex: 1;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

.box-3 {
    flex: 1;
    text-align: center;
    margin-left: 1%;
}

.circle-photo {
    border-radius: 100%;
}

/*-------------Sign Up Form--------------*/

#form-relative-container {
    min-width: 250px;
    min-height: 300px;
    display: none;
    width: 30%;
    height: 40%;
    position: fixed;
    top: 30%;
    left: 35%;
    background-image: radial-gradient(circle farthest-corner at -8.9% 51.2%, rgba(255, 124, 0, 1) 0%, rgba(255, 124, 0, 1) 15.9%, rgba(255, 163, 77, 1) 15.9%, rgba(255, 163, 77, 1) 24.4%, rgba(19, 30, 37, 1) 24.5%, rgba(19, 30, 37, 1) 66%);
    box-shadow: 0 0 1000px 120px rgba(0, 0, 0, 1);
    opacity: 0.97;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-inputs input {
    display: block;
    appearance: none;
    outline: 0;
    border: 1px solid fade(white, 40%);
    background-color: fade(white, 20%);
    width: 90%;
    height: inherit;
    border-radius: 3px;
    padding: 5px 5px;
    margin: -7px auto -7px auto;
    text-align: center;
    font-size: 18px;
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
    opacity: 0.7;
    border-radius: 10px;
}

.form-inputs input:hover {
    opacity: 0.8;
}

.form-inputs input:focus {
    background-color: white;
    width: 100%;
    color: @prim;
    opacity: 1;
}

.accept-sign-up-button {
    margin-bottom: 15px;
}

#close-button {
    min-width: 250px;
    display: none;
    width: 29.5%;
    height: 0%;
    position: fixed;
    top: 30%;
    left: 35%;
}

/*--------------Sign In Form-------------*/

#login-form-container {
    min-width: 195px;
    min-height: 195px;
    display: none;
    position: fixed;
    top: 30%;
    left: 40%;
    width: 20%;
    height: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: radial-gradient(circle farthest-corner at -8.9% 51.2%, rgba(255, 124, 0, 1) 0%, rgba(255, 124, 0, 1) 15.9%, rgba(255, 163, 77, 1) 15.9%, rgba(255, 163, 77, 1) 24.4%, rgba(19, 30, 37, 1) 24.5%, rgba(19, 30, 37, 1) 66%);
    box-shadow: 0 0 1000px 120px rgba(0, 0, 0, 1);
    opacity: 0.97;
}

.login-inputs input {
    display: block;
    appearance: none;
    outline: 0;
    border: 1px solid fade(white, 40%);
    background-color: fade(white, 20%);
    width: 90%;
    height: inherit;
    border-radius: 3px;
    padding: 5px 5px;
    margin: -7px auto -7px auto;
    text-align: center;
    font-size: 18px;
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
    opacity: 0.7;
    border-radius: 10px;
}

.login-inputs input:hover {
    opacity: 0.8;
}

.login-inputs input:focus {
    background-color: white;
    width: 100%;
    color: @prim;
    opacity: 1;
}

.accept-login-button {
    margin-top: 20px;
}

#login-close-button {
    min-width: 195px;
    display: none;
    position: fixed;
    top: 30%;
    left: 40%;
    width: 19.5%;
    height: 0;
}

/*--------------Adaptation---------------*/

@media (min-width: 1000px) {
    .try-button {
        font-size: 1.5em;
        width: 30%;
    }
}

@media (max-width: 800px) {

    #form-relative-container,
    #close-button {
        top: 30%;
        left: calc(50% - 125px);
    }
}

@media (max-width: 800px) {

    #login-form-container,
    #login-close-button {
        top: 30%;
        left: calc(50% - 93px);
    }
}

@media (max-width: 1050px) {
    #form-relative-container {
        max-height: 350px;

    }
}

@media (max-width: 1050px) {
    #login-form-container {
        max-height: 200px;

    }
}

@media (max-width: 1200px) {
    .nav-item {
        margin: 0 50px 0 0;
    }
}

@media (max-width: 991px) {
    .welcome-page-content h1 {
        font-size: 2em;
    }

    .welcome-page-content p {
        font-size: 1em;
    }

    .popular-countries-col h2 {
        font-size: 1.5em;
    }

    .popular-countries-boxes h3 {
        font-size: 1em;
    }

    .popular-countries-boxes p {
        font-size: 0.8em;
    }

    nav {
        opacity: 1;
    }
}

@media (max-width: 420px) {
    .popular-countries-boxes {
        flex-flow: column;
    }
}

@media (max-height: 480px) {
    .welcome-page-content {
        top: 17%;
        left: 3%;
    }

    .welcome-page-content h1 {
        font-size: 1.8em;
    }

    .welcome-page-content p {
        margin-top: 47%;
        font-size: 1em;
    }

    .try-button {
        font-size: 1em;
        width: 36%;
    }
}

/*----------------Footer-----------------*/

.footer {
    bottom: 0;
    width: 100%;
    background-color: darkslateblue;
    opacity: 0.2;
    color: aliceblue;
    text-align: center;
}
