html {
    height: 100vh;
}

body {
    background-image: url('../images/search-tickets-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

/*---------------Navigation----------------*/

nav {
    opacity: 0.7;
}

.nav-item {
    margin: 0 120px 0 0;
}

/*-------------Sign Up Form--------------*/

#sign-up-container {
    min-width: 250px;
    min-height: 300px;
    display: none;
    width: 30%;
    height: 40%;
    position: fixed;
    top: 30%;
    left: 35%;
    background-image: radial-gradient(circle farthest-corner at -8.9% 51.2%, rgba(255, 124, 0, 1) 0%, rgba(255, 124, 0, 1) 15.9%, rgba(255, 163, 77, 1) 15.9%, rgba(255, 163, 77, 1) 24.4%, rgba(19, 30, 37, 1) 24.5%, rgba(19, 30, 37, 1) 66%);
    box-shadow: 0 0 100px 30px rgba(0, 0, 0, 1);
    opacity: 0.97;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-inputs input {
    display: block;
    appearance: none;
    outline: 0;
    width: 90%;
    height: inherit;
    padding: 5px 5px;
    margin: -7px auto -7px auto;
    text-align: center;
    font-size: 18px;
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
    opacity: 0.7;
    border-radius: 10px;
}

.form-inputs input:hover {
    opacity: 0.8;
}

.form-inputs input:focus {
    background-color: white;
    width: 100%;
    opacity: 1;
}

.accept-sign-up-button {
    margin-bottom: 15px;
}

#close-button {
    min-width: 250px;
    display: none;
    width: 29.5%;
    height: 0;
    position: fixed;
    top: 30%;
    left: 35%;
}

/*--------------Sign In Form-------------*/

#login-form-container {
    min-width: 195px;
    min-height: 195px;
    display: none;
    position: fixed;
    top: 30%;
    left: 40%;
    width: 20%;
    height: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: radial-gradient(circle farthest-corner at -8.9% 51.2%, rgba(255, 124, 0, 1) 0%, rgba(255, 124, 0, 1) 15.9%, rgba(255, 163, 77, 1) 15.9%, rgba(255, 163, 77, 1) 24.4%, rgba(19, 30, 37, 1) 24.5%, rgba(19, 30, 37, 1) 66%);
    box-shadow: 0 0 100px 30px rgba(0, 0, 0, 1);
    opacity: 0.97;
}

.login-inputs input {
    display: block;
    appearance: none;
    outline: 0;
    width: 90%;
    height: inherit;
    padding: 5px 5px;
    margin: -7px auto -7px auto;
    text-align: center;
    font-size: 18px;
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
    opacity: 0.7;
    border-radius: 10px;
}

.login-inputs input:hover {
    opacity: 0.8;
}

.login-inputs input:focus {
    background-color: white;
    width: 100%;
    opacity: 1;
}

.accept-login-button {
    margin-top: 20px;
}

#login-close-button {
    min-width: 195px;
    display: none;
    position: fixed;
    top: 30%;
    left: 40%;
    width: 19.5%;
    height: 0;
}

/*----------------Search-Tickets Page----------------*/

.search-tickets-page {
    padding-top: 60px;
    width: 100%;
    min-height: 100%;
}

/*-----------------Search---------------*/

.search {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.search-col {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: flex-end;
}

.search-form-container {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.search-form-container input {
    display: inline-block;
    width: 300px;
    appearance: none;
    outline: 0;
    height: inherit;
    padding: 5px 5px;
    margin: -3px 10px -3px auto;
    text-align: center;
    font-size: 18px;
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
    opacity: 0.7;
    border-radius: 10px;
}

.search-form-container input:hover {
    opacity: 0.8;
}

.search-form-container input:focus {
    background-color: white;
    width: 315px;
    opacity: 1;
}

.search-form {
    display: flex;
}

.search-button {
    height: 45px;
    width: 120px;
}

/*----------------Tickets-------------------*/

#result-h {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.tickets {
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.ticket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1300px;
    height: 200px;
    background-image: url("../images/ticket-bg.jpg");
    background-size: cover;
    border-radius: 3%/15%;
    text-align: center;
    color: antiquewhite;
    opacity: 0.9;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 1);
    transition-duration: 0.25s;
    margin-top: 30px;
}

.ticket:hover {
    opacity: 1;
}

#booking-btn {
    height: 50px;
    width: 150px;
}
/*--------------Booking form----------------*/

#booking-form-container{
    display: none;
    width: 70%;
    height: 70%;
    position: fixed;
    top: 15%;
    left: 15%;
    box-shadow: 0 0 100px 30px rgba(0, 0, 0, 1);
    opacity: 0.97;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: lightseagreen solid;
    background-color: lemonchiffon;
}

#booking-close-button {
    min-width: 195px;
    display: none;
    position: fixed;
    top: 16%;
    right: 16%;
    width: 19.5%;
    height: 0;
}

/*-----------------Footer-------------------*/

.footer {
    width: 100%;
    margin-top: 30px;
    height: 120px;
    background-color:darksalmon;
    opacity: 0.5;
    text-align: center;
    color: black;
}

/*--------------Adaptation---------------*/

@media (max-width: 800px) {

    #sign-up-container,
    #close-button {
        top: 30%;
        left: calc(50% - 125px);
    }
}

@media (max-width: 800px) {

    #login-form-container,
    #login-close-button {
        top: 30%;
        left: calc(50% - 93px);
    }
}

@media (max-width: 1050px) {
    #sign-up-container {
        max-height: 350px;

    }
}

@media (max-width: 1050px) {
    #login-form-container {
        max-height: 200px;

    }
}

@media (max-width: 1200px) {
    .nav-item {
        margin: 0 50px 0 0;
    }
}

