html {
    height: 100vh;
}

body {
/*
    background: rgb(245, 147, 65);
    background: linear-gradient(90deg, rgba(245, 147, 65, 1) 0%, rgba(247, 168, 118, 1) 44%, rgba(148, 105, 98, 1) 100%);
*/
    background-image: url('..//images/search-tickets-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

/*---------------Navigation----------------*/

nav {
    opacity: 0.7;
}

.nav-item {
    margin: 0 120px 0 0;
}

/*----------------Search-Tickets Page----------------*/

.search-tickets-page {
    padding-top: 60px;
    width: 100%;
    min-height: 100%;
}

/*-----------------Search---------------*/

.search {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.search-col {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: flex-end;
}

.search-form-container {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.search-form-container input {
    display: inline-block;
    width: 300px;
    appearance: none;
    outline: 0;
    border: 1px solid fade(white, 40%);
    background-color: fade(white, 20%);
    height: inherit;
    border-radius: 3px;
    padding: 5px 5px;
    margin: -3px 10px -3px auto;
    text-align: center;
    font-size: 18px;
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
    opacity: 0.7;
    border-radius: 10px;
}

.search-form-container input:hover {
    opacity: 0.8;
}

.search-form-container input:focus {
    background-color: white;
    color: @prim;
    opacity: 1;
}

.box {
    margin-bottom: 20px;
    width: 1200px;
    height: 110px;
    background-color: antiquewhite;
    text-align: center;
}

.search-form {
    display: flex;
}

.search-button {
    height: 45px;
    width: 120px;
}

/*----------------Tickets-------------------*/

#result-h {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.tickets {
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.ticket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1300px;
    height: 200px;
    background-image: url("..//images/ticket-bg.jpg");
    background-size: cover;
    border-radius: 3%/15%;
    text-align: center;
    color: antiquewhite;
    opacity: 0.9;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 1);
    transition-duration: 0.25s;
    margin-top: 30px;
}

.ticket:hover {
    opacity: 1;
}

#booking-btn {
    height: 50px;
    width: 150px;
}

/*-----------------Footer-------------------*/

.footer {
    width: 100%;
    margin-top: 30px;
    height: 120px;
    background-color:darksalmon;
    opacity: 0.5;
    color: aliceblue;
    text-align: center;
}